<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Orca Team</title>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Orcateam official website." />
	<link rel="apple-touch-icon" sizes="57x57" href="../static/fav/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="../static/fav/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="../static/fav/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="../static/fav/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="../static/fav/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="../static/fav/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="../static/fav/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="../static/fav/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="../static/fav/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="../static/fav/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../static/fav/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="../static/fav/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../static/fav/favicon-16x16.png">
	<link rel="manifest" href="../static/fav/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="../static/fav/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">


</head>
<body data-spy="scroll" data-target=".navbar-collapse" data-offset="50">
	<meta property="og:image" content="http://www.orcateam.info/static/images/orcateam.jpg" />
	<meta property="og:description" content="Orcateam official website." />
	<meta property="og:url"content="http://www.orcateam.site" />
	<meta property="og:title" content="OrcaTeam" />

	<link rel="stylesheet" href="../static/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/css/font-awesome.min.css">
	<link rel="stylesheet" href="../static/css/nivo-lightbox.css">
	<link rel="stylesheet" href="../static/css/nivo_themes/default/default.css">
	<link rel="stylesheet" href="../static/css/style.css">
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500' rel='stylesheet' type='text/css'>

<!-- navigation section -->
<section class="navbar navbar-fixed-top custom-navbar" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
			</button>
			<a href="#" class="navbar-brand">Orca Team</a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#home" class="smoothScroll">HOME</a></li>
				<li><a href="#work" class="smoothScroll">WORK</a></li>
				<li><a href="#numbers" class="smoothScroll">NUMBERS</a></li>
				<li><a href="#team" class="smoothScroll">TEAM</a></li>
				<li><a href="#portfolio" class="smoothScroll">PORTFOLIO</a></li>
				<li><a href="https://twitter.com/Theorcateam" target="_blank" class="smoothScroll">TWEETS</a></li>
			</ul>
		</div>
	</div>
</section>

<!-- home section -->
<section id="home">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<h3></h3>
				<h1>We code your mind.</h1>
				<br>
			</div>
		</div>
	</div>
</section>
<!-- work section -->
<section id="work">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<div class="section-title">
					<strong></strong>
					<h1 class="heading bold">WHAT WE DO</h1>
					<hr>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.6s">
				<i class="fa fa-mobile fa-5x" aria-hidden="true"></i>
				<h3>MOBILE APP</h3>
				<hr>
				<p>Exciting native iOS and Android mobile applications.</p>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.9s">
				<i class="fa fa-desktop fa-5x" aria-hidden="true"></i>

					<h3>DESKTOP APP</h3>
					<hr>
					<p>Desktop applications with Java backend and Swing.</p>
				</div>
			<div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="1s">
				<i class="fa fa-file-text fa-5x" aria-hidden="true"></i>
					<h3>WEB APP</h3>
					<hr>
					<p>Wonderful solutions with HTML 5 - Bootstrap - PHP.</p>
			</div>

		</div>
	</div>
</section>
<!-- work section -->
<section id="numbers">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<div class="section-title">
					<strong></strong>
					<h1 class="heading bold">ORCA WITH NUMBERS</h1>
					<hr>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.6s">
				<i class="fa fa-file-code-o fa-5x" aria-hidden="true"></i>
				<h3>7</h3>
				<hr>
				<p>Hackathons that we participated</p>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.9s">
				<i class="fa fa-coffee  fa-5x"  aria-hidden="true"></i>
					<h3>2732</h3>
					<hr>
					<p>Cups of cofee that we drunk</p>
				</div>
			<div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="1s">
				<i class="fa fa-trophy fa-5x" aria-hidden="true"></i>
					<h3>7</h3>
					<hr>
					<p>Awards that we are granted.</p>
			</div>

		</div>
	</div>
</section>

<!-- team section -->
<section id="team">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<div class="section-title">
					<strong></strong>
					<h1 class="heading bold">TEAM MEMBERS</h1>
					<hr>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 wow fadeIn" data-wow-delay="0.9s">
				<div class="team-wrapper">
					<img src="../static/images/ozan.jpg" class="img-responsive" alt="team img">
						<div class="team-des">
							<h4>Ozan</h4>
							<h3>Mobile Developer</h3>
							<hr>
							<ul class="social-icon">
								<li><a href="#" class="fa fa-facebook wow fadeIn" data-wow-delay="0.3s"></a></li>
								<li><a href="#" class="fa fa-twitter wow fadeIn" data-wow-delay="0.6s"></a></li>
								<li><a href="#" class="fa fa-dribbble wow fadeIn" data-wow-delay="0.9s"></a></li>
							</ul>
						</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 wow fadeIn" data-wow-delay="1.3s">
				<div class="team-wrapper">
					<img src="../static/images/enes.jpg" class="img-responsive" alt="team img">
						<div class="team-des">
							<h4>Enes</h4>
							<h3>Mobile Developer</h3>
							<hr>
							<ul class="social-icon">
								<li><a href="#" class="fa fa-facebook wow fadeIn" data-wow-delay="0.3s"></a></li>
								<li><a href="#" class="fa fa-twitter wow fadeIn" data-wow-delay="0.6s"></a></li>
								<li><a href="#" class="fa fa-dribbble wow fadeIn" data-wow-delay="0.9s"></a></li>
							</ul>
						</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 wow fadeIn" data-wow-delay="0.9s">
				<div class="team-wrapper">
					<img src="../static/images/melih.jpg" class="img-responsive" alt="team img">
						<div class="team-des">
							<h4>Melih</h4>
							<h3>Idea Developer</h3>
							<hr>
							<ul class="social-icon">
								<li><a href="#" class="fa fa-facebook wow fadeIn" data-wow-delay="0.3s"></a></li>
								<li><a href="#" class="fa fa-twitter wow fadeIn" data-wow-delay="0.6s"></a></li>
								<li><a href="#" class="fa fa-dribbble wow fadeIn" data-wow-delay="0.9s"></a></li>
							</ul>
						</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- portfolio section -->
<div id="portfolio">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<div class="section-title">
					<strong></strong>
					<h1 class="heading bold">OUR PORTFOLIO</h1>
					<hr>
				</div>
				<!-- ISO section -->
				<div class="iso-section">
               		<div class="iso-box-section wow fadeIn" data-wow-delay="0.9s">
               			<div class="iso-box-wrapper col4-iso-box">

               				 <div class="iso-box html wordpress mobile col-lg-4 col-md-4 col-sm-6">
               				 	<a href="../static/images/portfolio-img1.jpg" data-lightbox-gallery="portfolio-gallery"><img src="../static/images/portfolio-img1.jpg" alt="portfolio img"></a>
               				 </div>

               				 <div class="iso-box wordpress col-lg-4 col-md-4 col-sm-6">
               				 	<a href="../static/images/portfolio-img2.jpg" data-lightbox-gallery="portfolio-gallery"><img src="../static/images/portfolio-img2.jpg" alt="portfolio img"></a>
               				 </div>

               				 <div class="iso-box html mobile col-lg-4 col-md-4 col-sm-6">
               				 	<a href="../static/images/portfolio-img3.jpg" data-lightbox-gallery="portfolio-gallery"><img src="../static/images/portfolio-img3.jpg" alt="portfolio img"></a>
               				 </div>

               				 <div class="iso-box wordpress col-lg-4 col-md-4 col-sm-6">
               				 	<a href="../static/images/portfolio-img4.jpg" data-lightbox-gallery="portfolio-gallery"><img src="../static/images/portfolio-img4.jpg" alt="portfolio img"></a>
               				 </div>

               				 <div class="iso-box html photoshop col-lg-4 col-md-4 col-sm-6">
               				 	<a href="../static/images/portfolio-img5.jpg" data-lightbox-gallery="portfolio-gallery"><img src="../static/images/portfolio-img5.jpg" alt="portfolio img"></a>
               				 </div>

               				 <div class="iso-box photoshop col-lg-4 col-md-4 col-sm-6">
               				 	<a href="../static/images/portfolio-img6.jpg" data-lightbox-gallery="portfolio-gallery"><img src="../static/images/portfolio-img6.jpg" alt="portfolio img"></a>
               				 </div>

               			</div>
               		</div>

				</div>
			</div>
		</div>
	</div>
</div>

<!-- footer section -->
<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<p>Copyright © Orca Team</p>
				<hr>
				<ul class="social-icon">
					<li><a href="#" class="fa fa-twitter wow fadeIn" data-wow-delay="0.6s"></a></li>
					<li><a href="#" class="fa fa-github wow fadeIn" data-wow-delay="0.9s"></a></li>

				</ul>
			</div>
		</div>
	</div>
</footer>


<script src="../static/js/jquery.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/smoothscroll.js"></script>
<script src="../static/js/isotope.js"></script>
<script src="../static/js/imagesloaded.min.js"></script>
<script src="../static/js/nivo-lightbox.min.js"></script>
<script src="../static/js/jquery.backstretch.min.js"></script>
<script src="../static/js/wow.min.js"></script>
<script src="../static/js/custom.js"></script>

</body>
</html>
